*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(./src/assets/stacked-waves-bisque.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    background-color: #fff;
    border-radius: 10px 10px 0 0;

    .navbar {
        height: 70px;
        display: flex;
        padding: 20px 36px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

        .logo {
            width: 6.25rem;
        }
    }

    section {
        padding: 20px;
    }

    .hero-section {
        display: flex;
        flex-direction: column;

        .hero-photo {
            max-width: 400px;
            align-self: center;
        }

        .hero-header {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .hero-text {
            margin-top: 0;
        }
    }

    .cards-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow-x: auto;

        .card {
            width: 275px;
            font-size: 12px;
            flex: 0 0 auto;         
            display: flex;          
            flex-direction: column;
            position: relative;
    
            .grey {
                color: grey;
            }
    
            .bold {
                font-weight: bold;
            }
            
            .card-image {
                width: 100%;
                border-radius: 9px;
            }
    
            .card-stats {
                display: flex;
                align-items: center;
    
                .card-star {
                    height: 14px;
                }
            }
    
            .card-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .card-price {
                margin-top: auto;
            }   

            .card-badge {
                position: absolute;
                top: 30px;
                left: 30px;
                background-color: white;
                padding: 5px 10px;
                border-radius: 10px;
                font-weight: bold;
            }        
        }
    }

   
    
}